# ==== Python ====
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# ==== Virtual environment ====
.venv/
venv/
env/

# ==== Flet build output ====
build/
storage/
.flet/

# ==== IDE / editor ====
.vscode/
.idea/
*.swp

# ==== OS junk ====
.DS_Store
Thumbs.db

# ==== Env / secrets (kalau ada nanti) ====
.env
